<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="broker">
            <directory>tests/Broker</directory>
        </testsuite>
        <testsuite name="messenger">
            <directory>tests/Messenger</directory>
        </testsuite>
        <testsuite name="queue">
            <directory>tests/Queue</directory>
        </testsuite>
        <testsuite name="sqlite">
            <directory>tests/Sqlite</directory>
        </testsuite>
        <testsuite name="driver">
            <directory>tests/Driver</directory>
        </testsuite>
        <testsuite name="benchmark">
            <directory>tests/Bench</directory>
        </testsuite>
        <testsuite name="tooling">
            <directory>tests/Tooling</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
